/* *{
    font-family: 'Courier New', Courier, monospace;
}
div{
    color:blue
}
p{
    color:cadetblue
}

#content {
    text-align: right;
}
.light-blue{
    color: aquamarine;
} */


/* div,p,h1{
    color: blanchedalmond;
}

#content,.some-class{
    background-color: aquamarine;
} */